.header-main {
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
  position: fixed;
  z-index: 7;
}

.header-logo {
  color: var(--color-secondary);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}

.header-main > nav > a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.header-main > nav > a:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.header-main > nav > i {
  color: white;
  cursor: pointer;
}
