:root {
  --color-main: #000000;
  --color-secondary: #7bffe9;
  --color-text-main: #000000;
  --color-text-secondary: #ffffff;
  --color-background: #2a3b49;
  --color-background-secondary: whitesmoke;
}

body {
  background-color: var(--color-background);
}
