.view-image-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  flex-direction: column-reverse;
}

.image-row-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-row-wrapper > img {
  width: auto;
  height: 70vh;
  max-width: 70vw;
  object-fit: cover;
}

.image-row-wrapper > button {
  border: none;
  background-color: unset;
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-row-wrapper > button:hover {
  font-weight: 600;
  cursor: pointer;
}

.view-image-container > button {
  border: none;
  background-color: unset;
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-image-container > button:hover {
  font-weight: 600;
  cursor: pointer;
}

#buttonPrev {
  position: relative;
  background-color: black;
  margin: 20px;
  height: 10vh;
}

#buttonNext {
  position: relative;
  background-color: black;
  margin: 20px;
  height: 10vh;
  position: relative;
}

/* #buttonNext:hover {
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
#buttonPrev:hover {
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes slide {
  from {
    right: 70px;
  }
  to {
    right: 50px;
  }
} */
