.view-image-container {
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  flex-direction: column;
}

.view-image-container > h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
}

.view-image-container .image-row-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.view-image-container > img {
  width: auto;
  height: 70vh;
  max-width: 70vw;
  object-fit: cover;
}

.image-row-wrapper > button {
  border: none;
  background-color: unset;
  color: var(--color-secondary);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  border-radius: 30px;
  padding: 5px 20px;
}

.image-row-wrapper > button:hover {
  cursor: pointer;
  color: white;
}

/* #buttonNext:hover {
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
#buttonPrev:hover {
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes slide {
  from {
    right: 70px;
  }
  to {
    right: 50px;
  }
} */
